body {
  margin: 0;
  padding: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 100%;
  margin: 0 auto;
}

.notMatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
    align-items: center;
}

.nav {
  border-bottom: 1px solid #69A425;
  width: 100%;
  font-family: graphikmedium;
  font-size: 20px;
  line-height: 22px;
  font-weight: normal;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-decoration: none;

}

li {
  list-style-type: none;
  padding: 10px;
  color: #707070;
}

button:focus {outline:0;}

a {
  text-decoration: none;
  color: #707070;
  position: relative;
}

a:hover {
   color: #69A425 !important;
   transition: all 0.3s ease;
}

a.active {
  color:#69A425 !important;

}

a.active:after {
  content:'';
  display: block;
  height: 2px;
  width: 100%;
  background-color: #69A425;
  position: absolute;
  bottom: -6px;
  left: 0px;
  right: 0;
}

.dd-list {
  border: 1px solid #888888;
}

.dd-list-item {
  list-style-type: none;
  padding: 5px;
  color: #707070;
}

.nav-item {
  margin-top: -14px;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  margin-top: 50px;
  align-items: center;
  align-content: center;
  border: 1px solid #EDEDED;
  text-align: center;
  font-family: graphikmedium;
  border-radius: 3px;

}

.login-header {
  background-color: #EDEDED;
  padding-bottom: 15px;
}

.login-changer {
  color: #707070;
  font-family: graphikbold;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  position: relative;
}

.dd-list {
  position: absolute;
  top: 23px;
  width: 290px;
  right: -117px;
  padding: 10px 20px;
  background-color: honeydew;
  border: 1px solid #EDEDED;
  border-radius: 3px;
}

.dd-header-title {
  cursor: pointer;
}

.dd-header-title svg {
  vertical-align: bottom;
  margin-left: 5px;
}

.login-welcome {
  color: #707070;
  font-family: graphikmedium;
  font-size: 26px;
  line-height: 34px;
  font-weight: normal;
}

.login-continue {
  color: #707070;
  font-size: 20px;
  line-height: 22px;
  font-weight: normal;
}

.login-signin {
  color: #69A425;
  font-family: graphikbold;
  font-size: 32px;
  line-height: 5px;
}

.avatar-login {
  height: 30px;
  border-radius: 25px;
  margin: 10px;
}

.auth-user {
  display: flex;
  flex-direction: column;
}


.avatar-user {
  display: inline-flex;
}

.auth-user-name {
  color: #707070;
}

img {
  vertical-align: middle;
}

.auth-button {
  color: #69A425;
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.auth-button:hover {
  background-color: #69A425;
  color: #fff;
}

.logout-button {
  margin-left: 10px;
  height: 36px;
  width: 80px;
  color: #e5e5e5;
  background-color: #888888;
  border-radius: 10px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #69A425;
}

.dashboard-container {
  width: 100%;
  max-width: 590px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;

}

.newquestion-container {
  width: 100%;
  max-width: 490px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;

}

.newquestion-header {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  font-family: graphikbold;
  font-size: 40px;
  line-height: 52px;
  color: #707070;
  margin: 0;
  padding: 20px;
}

.form-options {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 400px;
  font-family: graphikbold;
  color: #707070;
}

.form-options span {
  font-family: graphikmedium;
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
}

.form-options p {
  font-family: graphikmedium;
  font-size: 24px;
  font-weight: normal;
  line-height: 26px;
}


.form-options button {
  height: 50px;
  font-family: graphikmedium;
  font-size: 20px;
  font-weight: normal;
  line-height: 22px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #69A425;
  color: #ffffff;
  cursor: pointer;
}


.options {
  margin-bottom: 10px;
  padding: 15px;
  color: #707070;
  font-family: graphikmedium;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

.options::placeholder {
  color: rgba(112, 112, 112, 0.4);
}
.dashboard-list {
  width: 100%;
}

.dashboard-header {
  display: flex;
  width: 100%;
}

.dashboard-answered, .dashboard-unanswered {
  width: 50%;
  text-align: center;
  padding: 10px;
  background-color: #fff;
  font-family: graphikbold;
  font-size: 20px;
  line-height: 26px;
  color: #707070;
  border-bottom: 1px solid #dad7d7;
  cursor: pointer;
}

.dashboard-answered:hover, .dashboard-unanswered:hover {
  color: #69A425;
}

.is-active {
  background-color: #e5e5e5;
  color: #69A425;
}

.dashboard-unanswered {
  border-right: 1px solid #dad7d7;
}

.question-list {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

.question-header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: #e5e5e5;
  padding: 5px 20px;

}

.question-header span {
  color: #69A425;
}

.question-body {
  display: flex;
  width: 100%;
  padding: 5px;
}

.question-left  {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.question-left img {
  vertical-align: middle;
}

.question-view {
  padding: 10px;
}

.question-view p {
  color: rgba(112, 112, 112, 0.4);
}

.question-view button {
  width: 300px;
  height: 30px;
  background-color: transparent;
  color: #69A425;
  cursor: pointer;
}

.btn-disabled:disabled,
.btn-disabled[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.vl {
  border-left: 1px solid #C1B8B8;
  height: 120px;
  margin: 5px 20px 0;
}

.avatar-question {
  height: 100px;
  border-radius: 50%;
  margin: 15px;
}

.poll-container {
  max-width: 590px;
  display: flex;
  flex-direction: column;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  margin-top: 20px;
}

.poll-header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  font-family: graphikbold;
  font-size: 20px;
  line-height: 26px;
  color: #707070;
  background-color: #e5e5e5;
  padding: 5px 20px;
}

.poll-body {
  display: flex;
  width: 100%;
  padding: 5px;
}

.poll-view {
  padding: 10px;
}

.poll-view h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: graphikbold;
  line-height: 39px;
  font-size: 30px;
  color: #707070;
}

.poll-view button {
  width: 370px;
  padding: 10px;
  background-color: #69A425;
  color: #fff;
  cursor: pointer;
  font-family: graphikmedium;
  line-height: 22px;
  font-size: 20px;
  margin-top: 20px;
  border-radius: 3px;
}

.vl-poll {
  border-left: 1px solid #C1B8B8;
  height: 120px;
  margin: 15px 20px 0;
}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  font-family: graphikmedium;
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  display: inline-block;
  color: #707070;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #707070;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.poll-form input {
  align: center;
}

.poll-results {
  display: flex;
  flex-direction: column;
  padding: 0 30px 0 0;
  position: relative;

}

.poll-results h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: graphikbold;
  line-height: 39px;
  font-size: 30px;
  color: #707070;
}

.selected-option {
  background-color: rgba(127, 190, 55, 0.54);
  border: 1px solid #707070;
}

.text-one, .text-two {
  color: #29A503;
}

.result-view {
  display: flex;
  flex-direction: column;
  width: 320px;
  color: #707070;
  margin-bottom: 25px;
  border: 1px solid #707070;
  padding: 10px;
  font-family: graphikmedium;
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  border-radius: 3px;
}

.result-view p {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}

.progress-bar {
  position: relative;
  height: 20px;
  border: 1px solid #707070;
  background-color: #e5e5e5;
}

.filler {
  background-color: #69A425;
  height: 100%;
  color: #fff;
  text-align: right;
  font-family: graphikmedium;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  transition: width .2s ease-in;
}

.vl-results {
  border-left: 1px solid #C1B8B8;
  height: 345px;
  margin: 6px 20px 0;
}

.avatar-results {
  position: relative;
  height: 120px;
  border-radius: 50%;
  margin: 15px;
}

.results-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 5px;
}

.your-vote-one {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: goldenrod;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: absolute;
  top: 20px;
  right: 10px;
}

.your-vote-two {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: goldenrod;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: absolute;
  top: 190px;
  right: 10px;
}

.your-vote-one svg {
  vertical-align: middle;
  width: 25px;
  height: 25px;
}

.your-vote-two svg {
  vertical-align: middle;
  width: 25px;
  height: 25px;
}