body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 100%;
  margin: 0 auto;
}

.notMatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
    align-items: center;
}

.nav {
  border-bottom: 1px solid #69A425;
  width: 100%;
  font-family: graphikmedium;
  font-size: 20px;
  line-height: 22px;
  font-weight: normal;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-decoration: none;

}

li {
  list-style-type: none;
  padding: 10px;
  color: #707070;
}

button:focus {outline:0;}

a {
  text-decoration: none;
  color: #707070;
  position: relative;
}

a:hover {
   color: #69A425 !important;
   transition: all 0.3s ease;
}

a.active {
  color:#69A425 !important;

}

a.active:after {
  content:'';
  display: block;
  height: 2px;
  width: 100%;
  background-color: #69A425;
  position: absolute;
  bottom: -6px;
  left: 0px;
  right: 0;
}

.dd-list {
  border: 1px solid #888888;
}

.dd-list-item {
  list-style-type: none;
  padding: 5px;
  color: #707070;
}

.nav-item {
  margin-top: -14px;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  margin-top: 50px;
  align-items: center;
  align-content: center;
  border: 1px solid #EDEDED;
  text-align: center;
  font-family: graphikmedium;
  border-radius: 3px;

}

.login-header {
  background-color: #EDEDED;
  padding-bottom: 15px;
}

.login-changer {
  color: #707070;
  font-family: graphikbold;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  position: relative;
}

.dd-list {
  position: absolute;
  top: 23px;
  width: 290px;
  right: -117px;
  padding: 10px 20px;
  background-color: honeydew;
  border: 1px solid #EDEDED;
  border-radius: 3px;
}

.dd-header-title {
  cursor: pointer;
}

.dd-header-title svg {
  vertical-align: bottom;
  margin-left: 5px;
}

.login-welcome {
  color: #707070;
  font-family: graphikmedium;
  font-size: 26px;
  line-height: 34px;
  font-weight: normal;
}

.login-continue {
  color: #707070;
  font-size: 20px;
  line-height: 22px;
  font-weight: normal;
}

.login-signin {
  color: #69A425;
  font-family: graphikbold;
  font-size: 32px;
  line-height: 5px;
}

.avatar-login {
  height: 30px;
  border-radius: 25px;
  margin: 10px;
}

.auth-user {
  display: flex;
  flex-direction: column;
}


.avatar-user {
  display: inline-flex;
}

.auth-user-name {
  color: #707070;
}

img {
  vertical-align: middle;
}

.auth-button {
  color: #69A425;
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.auth-button:hover {
  background-color: #69A425;
  color: #fff;
}

.logout-button {
  margin-left: 10px;
  height: 36px;
  width: 80px;
  color: #e5e5e5;
  background-color: #888888;
  border-radius: 10px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #69A425;
}

.dashboard-container {
  width: 100%;
  max-width: 590px;
  display: flex;
  margin: 20px auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;

}

.dashboard-list {
  width: 100%;
}


.question-list {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.question-header {
  height: 50px;
  background-color: #e5e5e5;
  padding: 5px 20px;
}

.question-body {
  display: flex;
  width: 100%;
  padding: 5px;
}

.question-body img {
  vertical-align: middle;
}

.question-view {
  padding: 10px;
}

.question-view button {
  width: 300px;
  height: 30px;
  background-color: transparent;
  color: #69A425;
  outline: #69A425;
}

.vl {
  border-left: 1px solid #C1B8B8;
  height: 120px;
  margin: 5px 20px 0;
}

.avatar-question {
  height: 100px;
  border-radius: 50%;
  margin: 10px;
}


